body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: white;
}

/* ===== Header ===== */
header {
  display: flex;
  text-align: center;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: white;
  padding: 10px 20px;
  border-bottom: 2px solid lightgray;
}

header img {
  height: 50px;
}

header h2 {
  margin: 0 10px;
  font-size: 24px;
  color: black;
}

/* ===== Navigation ===== */
nav {
  flex-grow: 1;
  text-align: center;
  margin-top: 10px;
}

nav a {
  color: black;
  text-decoration: none;
  padding: 10px 12px;
  display: inline-block;
  font-weight: 500;
}

nav a:hover {
  background-color: lightgray;
  color: black;
  transform: 0.3s ease;
}

/* ===== signup Button ===== */
.signup-btn {
  background-color: blue;
  color: white;
  padding: 10px 18px;
  text-decoration: none;
  border-radius: 5px;
  font-weight: 600;
  margin-top: 10px;
}

.signup-btn:hover {
  background-color: darkblue;
}

/* ===== Responsive Design ===== */
@media (max-width: 768px) {
  header {
    flex-direction: column;
    text-align: center;
  }

  nav {
    margin: 10px 0;
  }

  .signup-btn {
    width: 80%;
    margin: 10px 0;
  }
}

/* ===== Main Section ===== */
.main-section {
  position: relative;
  text-align: center;
  color: white;
  background: black;
}

.main-section img {
  width: 100%;
  height: 500px;
  display: block;
  object-fit: cover;
}

/* ===== About Section ===== */
.about-section {
  display: flex;
  justify-content: center;
  padding: 60px 20px;
}

.about-container {
  max-width: 850px;
  width: 100%;
  text-align: left;
  line-height: 1.8;
  font-size: 18px;
  color: black;
  padding: 0 10px;
}

.about-section h2 {
  margin-left: 15px;
  text-align: left;
}

.about-container p {
  margin-bottom: 18px;
}

/* ===== Learn More Button ===== */
.learn-more-btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: blue;
  color: white;
  text-decoration: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 600;
  transform: 0.3s ease;
}

.learn-more-btn:hover {
  background-color: darkblue;
  transform: translateY(-2px);
}